<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li *appHasRole="['Admin','Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ng-container>
       -->
<!-- <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
      </li> -->

<!-- </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as User" dropdown>
      <img src="{{User.photoUrl || './assets/user.png'}}" alt="user photo">
      <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{User.knownAs |
        titlecase}}</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="logout();">Logout</a>
      </div>
    </div>

    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off"
      class="d-flex">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav> -->


<nav class="flex bg-navbar-color" style="background-image: url('../../assets/heart_sync_logo_1.webp');"
  class="bg-center p-6 pl-16">
  <div class="flex justify-between items-center w-full m-6mx-16">
    <div style="background-image: url('../../assets/heart_sync_logo_1.webp'); background-size: 200%;"
      class="h-10 w-10 bg-cover bg-center"></div>
    <div>

      <ng-template [ngIf]="!(accountService.currentUser$ | async)" [ngIfElse]="userLoggedOut">
        <button class="w-24 rounded-lg border-2 border-transparent hover:border-brand-primary" routerLink="/login">
          <span class="text-brand-primary text-lg font-medium">Log</span>
          <span class="text-brand-secondary text-lg font-medium">In</span>
        </button>

        <button class="w-24 rounded-lg border-2 border-transparent hover:border-brand-primary" routerLink="/register">
          <span class="text-brand-primary text-lg font-medium">Sign</span>
          <span class="text-brand-secondary text-lg font-medium">Up</span>
        </button>
      </ng-template>

      <ng-template #userLoggedOut>
        <button class="w-24 rounded-lg border-2 border-transparent hover:border-brand-primary" (click)="logout();">
          <span class="text-brand-primary text-lg font-medium">Log</span>
          <span class="text-brand-secondary text-lg font-medium">Out</span>
        </button>
      </ng-template>
    </div>
  </div>
</nav>
