<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-transparent transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-brand-secondary-50 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-3xl min-h-96 flex flex-row-reverse">
        <div class="flex flex-1 p-10 bg-cover bg-center"
          style="background-image: url('../../assets/white_rose_in_hands.jpg');">
        </div>

        <div class="flex flex-1 p-10">

          <div class="flex flex-col gap-6 flex-1">

            <h1 class="font-semibold text-lg">LOGIN</h1>

            <div class="">
              <form *ngIf="!(accountService.currentUser$ | async)" class="block w-full" [formGroup]="loginForm"
                (ngSubmit)="loginForm.valid && login()" autocomplete="off">

                <div class="mb-1">
                  <label for="username" class="block w-fit text-sm/6 font-medium text-gray-900">Username</label>
                  <div
                    class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600"
                    [ngClass]="{ 'outline-2 outline-red-500': loginForm.get('username')?.touched && loginForm.get('username')?.invalid}">
                    <input id="username" type="text" formControlName="username"
                      class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
                      placeholder="Username or Email">
                    <div class="grid shrink-0 grid-cols-1 focus-within:relative"
                      [ngClass]="{'invisible': !loginForm.get('username')?.touched || (loginForm.get('username')?.touched && !loginForm.get('username')?.invalid)}">
                      <svg
                        class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-red-500 sm:size-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        data-slot="icon">
                        <path fill-rule="evenodd"
                          d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </div>
                  </div>
                  <span class="block text-xs text-red-500"
                    [ngClass]="{'invisible': !loginForm.get('username')?.touched || (loginForm.get('username')?.touched && !loginForm.get('username')?.invalid)}">
                    Enter your username or email
                  </span>
                </div>

                <div class="flex flex-col">
                  <label for="password" class="block w-fit text-sm/6 font-medium text-gray-900">Password</label>
                  <div
                    class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600"
                    [ngClass]="{ 'outline-2 outline-red-500': loginForm.get('password')?.touched && loginForm.get('password')?.invalid}">
                    <input id="password" [type]="showPassword ? 'text': 'password'" formControlName="password"
                      class=" block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
                      placeholder="Password">
                    <div class="cursor-pointer grid shrink-0 grid-cols-1 focus-within:relative w-5" (click)="showPassword = !showPassword">
                      <i *ngIf="!showPassword" class="fa-sharp fa-regular fa-eye pl-[1px]"></i>
                      <i *ngIf="showPassword" class="fa-regular fa-eye-slash"></i>
                    </div>
                    <div class="grid shrink-0 grid-cols-1 focus-within:relative"
                      [ngClass]="{'invisible': !loginForm.get('password')?.touched || (loginForm.get('password')?.touched && !loginForm.get('password')?.invalid)}">
                      <svg
                        class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-red-500 sm:size-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        data-slot="icon">
                        <path fill-rule="evenodd"
                          d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </div>
                  </div>
                  <span class="block text-xs text-red-500"
                    [ngClass]="{'invisible': !loginForm.get('password')?.touched || (loginForm.get('password')?.touched && !loginForm.get('password')?.invalid)}">
                    Enter your password
                  </span>
                </div>

                <div class="flex items-center">
                  <div class="group grid size-4 grid-cols-1 mr-2">
                    <input id="comments" aria-describedby="comments-description" name="comments" type="checkbox"
                      class="col-start-1 row-start-1 appearance-none rounded border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto">
                    <svg
                      class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-[:disabled]:stroke-gray-950/25"
                      viewBox="0 0 14 14" fill="none">
                      <path class="opacity-0 group-has-[:checked]:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                      <path class="opacity-0 group-has-[:indeterminate]:opacity-100" d="M3 7H11" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <label for="comments" class="text-sm w-fit inline-block text-gray-900">
                    Remember me?
                  </label>
                </div>

                <button type="submit"
                  class="w-full rounded-md bg-brand-primary px-3 py-2 mt-4 text-sm font-semibold text-white shadow-sm disabled:opacity-65 enabled:hover:bg-brand-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                  [disabled]="!loginForm.valid">
                  LOGIN
                </button>

                <a href="#" routerLink="/login"
                  class="flex justify-end mt-1 text-sm text-brand-secondary hover:text-brand-secondary-500">Forgot
                  password?</a>
              </form>
            </div>


            <div class="flex w-full items-center">
              <div class="border-t-2 border-brand-primary-400 w-full"></div>
              <div class="flex items-center p-1 border-2 rounded-md border-brand-primary-400">
                <span class="text-xs font-semibold">OR</span>
              </div>
              <div class="border-t-2 border-brand-primary-400 w-full"></div>
            </div>

            <div class="flex gap-6 justify-center">
              <button class="w-9 h-9">
                <img src="../../assets/google_logo.png" class="w-full h-full">
              </button>

              <button class="w-9 h-9">
                <img src="../../assets/instagram_logo.png" class="w-full h-full">
              </button>

              <button class="w-9 h-9">
                <img src="../../assets/x_logo.png" class="w-full h-full">
              </button>
            </div>


            <div class="mx-auto">
              <span class="text-sm">Need an account? </span>
              <a href="#" routerLink="/register"
                class="mt-1 font-semibold text-sm text-brand-primary hover:text-brand-primary-600 hover:underline">SIGN
                UP</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
